<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutritional value Sliders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .box {
            width: 900px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
        }
        .box h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .slider-container {
            width: 700px;
            margin: 20px auto;
            text-align: center;
        }
        .value {
            font-size: 20px;
            margin-top: 5px;
            /* margin-right: 600px; */
        }
        .label {
            font-size: 18px;
            margin-bottom: 5px;
            margin-right: 600px;
        }
        input[type=range] {
            width: 100%; /* Make the slider take the full width of the container */
        }

        .center-button-container {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .spinner-border {
            display: none;
        }

    </style>
</head>
<body>

<div class="box">

        <h2>Custom Food Recommender</h2>

        <div class="slider-container">
            <div class="label">Calories</div>
            <input type="range" id="calories" min="0" max="2000" value="500" step="10">
            <div class="value" id="caloriesValue">250</div>
        </div>
        
        <div class="slider-container">
            <div class="label">Fat (g)</div>
            <input type="range" id="fat" min="0" max="50" value="25" step="1">
            <div class="value" id="fatValue">25</div>
        </div>
        
        <div class="slider-container">
            <div class="label">Saturated Fats (g)</div>
            <input type="range" id="saturatedFats" min="0" max="20" value="10" step="1">
            <div class="value" id="saturatedFatsValue">10</div>
        </div>

        <div class="slider-container">
            <div class="label">Carbohydrate (g)</div>
            <input type="range" id="carbohydrate" min="0" max="325" value="150" step="10">
            <div class="value" id="carbohydrateValue">150</div>
        </div>
        
        <div class="slider-container">
            <div class="label">Protein (g)</div>
            <input type="range" id="protein" min="0" max="200" value="50" step="10">
            <div class="value" id="proteinValue">50</div>
        </div>
        
        <div class="slider-container">
            <div class="label">Fiber (g)</div>
            <input type="range" id="fiber" min="0" max="40" value="15" step="1">
            <div class="value" id="fiberValue">15</div>
        </div>

        <div class="slider-container">
            <div class="label">Sugar (g)</div>
            <input type="range" id="sugar" min="0" max="40" value="15" step="1">
            <div class="value" id="sugarValue">15</div>
        </div>

        <div class="slider-container">
            <div class="label">Sodium (mg)</div>
            <input type="range" id="sodium" min="0" max="2300" value="1500" step="50">
            <div class="value" id="sodiumValue">1500</div>
        </div>
        
        <div class="slider-container">
            <div class="label">Cholesterol (mg)</div>
            <input type="range" id="cholesterol" min="0" max="300" value="150" step="10">
            <div class="value" id="cholesterolValue">150</div>
        </div>
        
        <div class="center-button-container">
            <button id="generateButton" class="btn btn-primary">
                Generate Recommendations
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
        </div>
</div>

    <div id="recommendations" class="row row-cols-1 row-cols-md-5 g-4"></div>



<script>
    const sliders = [
        { id: 'calories', valueId: 'caloriesValue' },
        { id: 'fat', valueId: 'fatValue' },
        { id: 'saturatedFats', valueId: 'saturatedFatsValue' },
        { id: 'protein', valueId: 'proteinValue' },
        { id: 'fiber', valueId: 'fiberValue' },
        { id: 'cholesterol', valueId: 'cholesterolValue' },

        { id: 'carbohydrate', valueId: 'carbohydrateValue' },
        { id: 'sugar', valueId: 'sugarValue' },
        { id: 'sodium', valueId: 'sodiumValue' },

    ];

    sliders.forEach(slider => {
        const input = document.getElementById(slider.id);
        const valueDisplay = document.getElementById(slider.valueId);

        input.oninput = function() {
            valueDisplay.textContent = this.value;
        }
    });

    document.getElementById('generateButton').onclick = function() {
        const values = {};
        const recommendationsDiv = document.getElementById('recommendations');
        recommendationsDiv.innerHTML = ''; // Clear any existing recommendations

        const button = document.getElementById('generateButton');
        const spinner = button.querySelector('.spinner-border');
        spinner.style.display = 'inline-block';
        button.disabled = true;

        sliders.forEach(slider => {
            values[slider.id] = document.getElementById(slider.id).value;
        });

        console.log('slider values: ', values);

        fetch('/get_recommendations', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(values)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Update the UI with the recommendations
            const recommendationsDiv = document.getElementById('recommendations');
            recommendationsDiv.innerHTML = ''; // Clear any existing recommendations
            data.forEach(food => {
                const foodItem = document.createElement('div');
                foodItem.classList.add('food-item');
                // foodItem.classList.add('col'); // Bootstrap column class
                foodItem.innerHTML = `
        
            <div class="col">
                <div class="card text-md-light h-100">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">${food.Name}</h5>
                    
                    <div class="card-header">
                        Nutritional values
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Calories: ${food.Calories}</li>
                        <li class="list-group-item">SaturatedFats: ${food.SaturatedFatContent}</li>
                        <li class="list-group-item">Fats: ${food.FatContent}</li>
                        <li class="list-group-item">Carbohydrates: ${food.CarbohydrateContent}</li>
                        <li class="list-group-item">Cholesterol: ${food.CholesterolContent}</li>
                        <li class="list-group-item">Sodium: ${food.SodiumContent}</li>
                        <li class="list-group-item">Fiber: ${food.FiberContent}</li>
                        <li class="list-group-item">Sugar: ${food.SugarContent}</li>
                        <li class="list-group-item">Protein: ${food.ProteinContent}</li>
                      </ul>
                    
                      <p class="card-text">
                        Cooking and Prep time:
                        <ul>
                            <li>${food.TotalTime}</li>
                            <li>${food.CookTime}</li>
                            <li>${food.PrepTime}</li>
                        </ul>
                      </p>
                      
                        <p class="card-text">
                            Recipe Ingredients:
                            <ul>
                                <li>Hello</li>
                            </ul>
                          </p>
                       
                    <p class="card-text"><small class="text-body-secondary"></small></p>
                  </div>
                </div>
              </div>       
                `;

                recommendationsDiv.appendChild(foodItem);
            });

            spinner.style.display = 'none';
            button.disabled = false;
        })
        .catch((error) => {
            console.error('Error:', error);
            spinner.style.display = 'none';
            button.disabled = false;
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</body>
</html>
